<div #footerContainer id="footerContainer">
  <div class="footerItemContainer" id="leftFooterContainer">
    <div class="leftFooterColumn">
      <div class="leftFooterItem"><div class="leftFooterText">About</div></div>
      <div class="leftFooterItem"><div class="leftFooterText">Contact</div></div>
      <div class="leftFooterItem"><div class="leftFooterText">Developers</div></div>
    </div>
    <div class="leftFooterColumn">
      <div class="leftFooterItem"><div class="leftFooterText">Services</div></div>
      <div class="leftFooterItem"><div class="leftFooterText">Support</div></div>
      <div class="leftFooterItem"><div class="leftFooterText">Documentation</div></div>
    </div>
  </div>
  <div class="footerItemContainer" id="rightFooterContainer">
    <div id="rightFooter">
      <div id="footerLogo"></div>
      <div id="copyright">&copy; Copyright 2019</div>
    </div>
  </div>
</div>
