<div id="introContainer">
  <div #introCard1 id="introCard1" class="introCard" (wheel)="scrolled($event, introCard1)">
    <div #typingContainer id="typingContainer">
      <div #transformText id="transformText"></div>
      <div #transformLogo id="transformLogo"></div>
    </div>
    <div #servicesContainer id="servicesContainer">
      <div class="servicesContainerRow">
        <div class="servicesItem" id="cLogo"></div>
        <div class="servicesItem" id="javaLogo"></div>
        <div class="servicesItem" id="htmlLogo"></div>
        <div class="servicesItem" id="pythonLogo"></div>
        <div class="servicesItem" id="javascriptLogo"></div>
        <div class="servicesItem" id="nodejsLogo"></div>
      </div>
      <div class="servicesContainerRow">
        <div class="servicesItem" id="cppLogo"></div>
        <div class="servicesItem" id="angularLogo"></div>
        <div class="servicesItem" id="phpLogo"></div>
        <div class="servicesItem" id="mysqlLogo"></div>
        <div class="servicesItem" id="csLogo"></div>
        <div class="servicesItem" id="cssLogo"></div>
      </div>
    </div>
  </div>
  <div #introCard2 id="introCard2" class="introCard" (wheel)="scrolled($event, introCard2)">
    <div id="introCard2Container">
      <div class="introCard2Column" id="introCard2Left">
        Features To Manage<br/>Your Project Easily
      </div>
      <div class="introCard2Column" id="introCard2Right">
        <div class="introCardDetailItemL"><div class="featureLogoR" id="voiceChat"></div><div class="detailTextR">&nbsp;&nbsp;&nbsp;Voice Chat</div><div class="detailTextReplaceR">&nbsp;&nbsp;&nbsp;Communicate With Your<br/>&nbsp;&nbsp;&nbsp;Team Members In Real-Time</div></div>
        <div class="introCardDetailItemL"><div class="featureLogoR" id="projectHistory"></div><div class="detailTextR">&nbsp;&nbsp;&nbsp;Project History</div><div class="detailTextReplaceR">&nbsp;&nbsp;&nbsp;All Project Changes<br/>&nbsp;&nbsp;&nbsp;Are Logged</div></div>
        <div class="introCardDetailItemL"><div class="featureLogoR" id="textChat"></div><div class="detailTextR">&nbsp;&nbsp;&nbsp;Instant Messaging</div><div class="detailTextReplaceR">&nbsp;&nbsp;&nbsp;Communicate With Your<br/>&nbsp;&nbsp;&nbsp;Team Members In Real-Time</div></div>
        <div class="introCardDetailItemL"><div class="featureLogoR" id="libraries"></div><div class="detailTextR">&nbsp;&nbsp;&nbsp;Libraries</div><div class="detailTextReplaceR">&nbsp;&nbsp;&nbsp;All Popular Libraries Can<br/>&nbsp;&nbsp;&nbsp;Be Imported Into Projects</div></div>
        <div class="introCardDetailItemL"><div class="featureLogoR" id="devEnv"></div><div class="detailTextR">&nbsp;&nbsp;&nbsp;Development Environment</div><div class="detailTextReplaceR">&nbsp;&nbsp;&nbsp;Feels Like You Are<br/>&nbsp;&nbsp;&nbsp;Working Offline</div></div>
      </div>
    </div>
  </div>
  <div #introCard3 id="introCard3" class="introCard" (wheel)="scrolled($event, introCard3)">
    <div id="introCard3Container">
      <div class="introCard3Column" id="introCard3Left">
        <div class="introCardDetailItemR"><div class="featureLogoL" id="otgData"></div><div class="detailTextL">On-The-Go Database&nbsp;&nbsp;&nbsp;</div><div class="detailTextReplaceL">Create And Connect Database&nbsp;&nbsp;&nbsp;<br/>To Your Project For&nbsp;&nbsp;&nbsp;<br/>Faster Testing&nbsp;&nbsp;&nbsp;</div></div>
        <div class="introCardDetailItemR"><div class="featureLogoL" id="autoSave"></div><div class="detailTextL">AutoSave&nbsp;&nbsp;&nbsp;</div><div class="detailTextReplaceL">Forget That Save Button&nbsp;&nbsp;&nbsp;</div></div>
        <div class="introCardDetailItemR"><div class="featureLogoL" id="realtimeCollab"></div><div class="detailTextL">Real-Time Collaboration&nbsp;&nbsp;&nbsp;</div><div class="detailTextReplaceL">Collaborate With Multiple&nbsp;&nbsp;&nbsp;<br/>Team Members While Programming&nbsp;&nbsp;&nbsp;</div></div>
        <div class="introCardDetailItemR"><div class="featureLogoL" id="visual"></div><div class="detailTextL">Visual Programming&nbsp;&nbsp;&nbsp;</div><div class="detailTextReplaceL">Tired Of Writing Code ?&nbsp;&nbsp;&nbsp;<br/>Compose Them Like A Painting&nbsp;&nbsp;&nbsp;</div></div>
      </div>
      <div class="introCard3Column" id="introCard3Right">
        Some Tools That Make<br/>Development a Breeze
      </div>
    </div>
  </div>
</div>
